*{
    margin: 0;
    padding:0;
}

.bg-gradient-custom {
  background:
    #003c3e;
}
h1{
    color:#b0e2e3 !important ;
}
h4,h5,p{
    color: #003c3e!important;
}
.card{
    background: linear-gradient(to right, #b0e2e3, #d1ffff)!important;
    margin: 0vh 4vh;
}
.card-formulario{
    margin: auto auto !important;
    padding: 4vh !important;
    background: #b0e2e3 !important;
    width: 50vh !important;
}
.btn{
    background: #003c3e !important;
    color: #b0e2e3 !important;
}